.banner-bg {
    background: linear-gradient(to bottom, rgba(0,0, 0, .7), rgba(0,0, 0, .7)), url('./images/bcg.png') no-repeat;
    background-size: cover;
    
   
}

.banner {
   
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 200px;

    @include media('>=desktop') {
       height: 450px;
       margin-top: 0;
    }
    

    &__heading {
        
        font-size: rem(28px);
        font-weight: normal;
        color: $white;
        text-transform: uppercase;
        line-height: 2;

        @include media('>=desktop') {
            font-size: rem(46px);
            
        }
    }

    &__heading--bold {
        font-weight: 700;
    }

    /*&__img {
        width: 100%;
        height: 250px;

        @include media('>=desktop') {
            height: 450px;
        }*/

    &__text {
        font-size: rem(20px);
        font-weight: normal;
        color: $white;
        text-transform: uppercase;
        line-height: 1.5;

        @include media('>=desktop') {
            font-size: rem(30px);
        }

    
    }
}
    


.banner-tree {
    
    display: flex;
    flex-flow: row wrap;
    
    
    

    &__item { 
        position: relative;

        @include media('>=desktop') {
            line-height: 1.5;    
        }
            
    }

    &__item::after {
        content: '-';
        position: absolute;
        top: 30%;
        right: 0;
        font-size: rem(10px);
        color: $white;

        @include media('>=desktop') {
            font-size: rem(32px);
            top: 0;
            
        }
        
    }
    
    &__item:last-of-type::after {
        content: '';
    }

    &__link {
        display: block;
        font-size: rem(14px);
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        padding: .5rem 1rem;

        @include media('>=desktop') {
            font-size: rem(30px);
            padding-right: 2rem;
        }
    }


    &__link:hover {
        color: $turq;
    }
}