.button, .button--register {
    font-size: rem(16px);
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color: $btnText;
    padding: 1rem 2rem;
    border: 1px solid $btnBorder;
    display: inline-block;
    transition: background-color .5s ease-in-out;
   
}

.button:hover {
    cursor: pointer;
    background-color: $turq;
    color: $white;
}

.button--register {
    border: 0;
    
}

.button--hero {
    
    position: absolute;
    right: 5px;
    top: 200px;
    padding: .5rem 1rem;
    text-decoration: none;

    @include media('>=desktop') {
        top: 80%;
        right: 20%;
        padding: 1rem 4rem;
        font-size: rem(18px);
    }
}

.button--lookbook {
    font-size: rem(12px);
    text-decoration: none;

    @include media('>=desktop-l') {
        font-size: rem(16px);
    }
}

.button--addcart, .button--addlookbook {
    text-transform: uppercase;
    text-decoration: none;
    color: $darkGrey2;
    background-color: transparent;
    position: relative;
    padding: 1rem 3rem;
    display: inline-block;
    margin: 1rem 2rem 1rem 0;
    letter-spacing: .2rem;
   
    
    @include media('>=desktop') {
        margin: 3rem 3rem 1rem 0;
    }
    
}

.button--addcart:hover, .button--addlookbook:hover {
    background-color: $darkGrey2;
    color: $lightGrey2;
}

.button--addcart-icon {
    fill: currentColor;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 18px;
    height: 18px;
    
}

.button--addlookbook-icon {
    fill: currentColor;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
}

.button--signup1, .button--signup2 {
   
    text-transform: uppercase;
    letter-spacing: .2rem;
    
}

.button--signup1 {
    width: 130px;
    margin: 1rem 0;
}

.button--signup2 {
    width: 250px;
    margin: 2rem 0 1rem;
}