.currency {
    display: none;
    font-size: rem(13px);

    @include media('>=desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 50%;

    }

    &__text {
        color: $lightGrey;
        padding: 0 1rem;
    }

    &__form {
        color: $lightGrey;
        background-color: $darkGrey2;
    }

    &__value {
        border: none;
        color: $lightGrey;
        background-color: $darkGrey2;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
}

