.footer {
    margin-top: 20px;
}

.footer-nav-bg {
    width: 100%;
    background-color: $lightGrey2;
}

.footer-nav {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;

    @include media('>=tablet-l') {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        
    }

    @include media('>=desktop') {
        padding: 2rem 0;
    }
    
}

.footer-list {
    font-size: rem(12px);
    color: $darkGrey;
    

    &__item {
        width: 100%;
        padding: 1em;

        @include media('>=tablet-l') {
           padding: 1rem 0;
        }
    }

    &__item:first-of-type {

        @include media('>=tablet-l') {
            padding: 0;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        color: $darkGrey;
        
    }

    &__link:hover {
        color: $turq;
    }

    &__title {
        text-transform: uppercase;
        
        padding: 1.5rem 0;
        font-size: rem(16px);
    }

    &__title--address {
        padding: 1.5rem 1rem;
    }


}
.footer-address {
    padding: 1rem;
    font-size: rem(12px);
    line-height: 2.5;

    &__line {
        display: block;
        
    }

    &__link {
        color: $darkGrey;
        text-decoration: none;
    }

    &__link:hover {
        color: $turq;
    }
}

.footer-content {
    
    
    @include media('>=desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        
    }

    &__box {
        background-color: $darkGrey;
        width: 100%;
        
        min-height: 150px;
        margin: 1rem auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;    
        align-items: center;
        

        @include media('>=desktop') {
            margin: 1rem 0;
            max-width: 570px;
        }
    }

    &__box--turq {
        background-color: $turq;
    }

    &__title {
        font-size: rem(24px);
        color: $white;
        text-transform: uppercase;
        text-align: center;
        display: block;
        line-height: 1.5;
    }

    &__title--bold {
        font-weight: bold;
        
    }

}

.footer-icons {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &__item {
        padding: 0 1rem;
    }

    &__link {

    }

    &__icon {
        width: 40px;
        height: 40px;
        
    }

}

.footer-copy-bg {
    width: 100%;
    background-color: $darkGrey2;
}

.footer-copy {
    font-size: rem(13px);
    color: $lightGrey;
    display: flex;
    flex-flow: column nowrap;

    @include media('>=desktop') {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__copyright {
        padding: 1rem 1rem 0 1rem;
        flex: 1 1 70%;

        @include media('>=desktop') {
            padding: 1rem 0;
        }
    }

    &__rightText {
        flex: 1 1 30%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        @include media('>=desktop') {
            padding: 1rem 0;
        }
    }

    &__text {

    }
}