.header {
    
    
   
    &__top-bg {
        background-color: $darkGrey2;
        width: 100%;
    }
    &__top {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        
        
    }

    &__navigation-bg {
        background-color: $lightGrey2;
        width: 100%;
    }

    &__navigation {
        
        @include media('>=desktop') {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
            
        }
    }
        

    &__rightSide {
        flex: 1 1 30%;
        

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        @include media('>=desktop') {
            flex-flow: row nowrap;
        }
        
    }

    &__logo {
        flex: 1 1 auto;
        
    }

    &__heading {
        
        font-size: rem(24px);
        letter-spacing: .3rem;
        font-weight: 300;
        padding: 15px 5px;
        text-transform: uppercase;
    }

    &__heading--bold {
        font-weight: 700;
        padding: 0;
        
    }

    &__link {
        text-decoration: none;
        color: $darkGrey;
    }

}