.hero {
    
    
    background-color: $lightGrey2;
   
    &__hero-bg {
        background-color: $lightGrey2;
        width: 100%;
    }

    &__img {
        /*background: url('./images/hero.svg') no-repeat;
        background-size: contain;
        background-position: 35% 0;*/
        
        width: 300px;
        height: 250px;
        background-color: $lightGrey2;
        margin: auto;
       
        @include media('>=desktop') {
            width: 945px;
            height: 900px;
            margin-left: 0;
            z-index: 1;
            
        }
        
    }

    &__title {
        font-size: rem(140px);
        display: inline-block;
        position: absolute;
        
        color: $darkGrey3;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        

        @include media('>=tablet') {
            font-size: rem(200px);
        }

        @include media('>=tablet-l') {
            font-size: rem(250px);
        }

        @include media('>=desktop') {
            font-size: rem(450px);
            letter-spacing: 10rem;
        }
    }
}