.lookbook {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;

    @include media('>=desktop-l') {
        flex-flow: row nowrap;
        

    }
    &__box {
        background-color: $lightGrey2;        
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        @include media('>=desktop-l') {
            margin: 0 2rem;
            max-width: 660px;
            max-height: 530px;
        }
        
    }

    &__content {
        text-align: right;
        padding: 2rem;
        flex: 1 1 66%;
    }

    &__title {
        font-size: rem(18px);
        color: $darkGrey2;
        text-transform: uppercase;
        line-height: 1.3;

        @include media('>=desktop-l') {
            font-size: rem(48px);
        }
    }

    &__title--bold {
        font-weight: bold;
        color: $black;
    }

    &__text {
        font-size: rem(14px);
        font-family: 'Roboto', sans-serif;
        color: $darkGrey2;
        padding: 3rem 0;

        @include media('>=desktop-l') {
            font-size: rem(15px);
        }
    }

    &__img {
        width: 120px;
        height: 300px;
        flex: 1 1 33%;

        @include media('>=desktop-l') {
            width: 220px;
            height: 530px;
        }
    }

}