.menu { 
    
    width: 100%;
    background-color: $lightGrey;
    visibility: hidden;
    position: fixed;
    padding-top: 80px;
    opacity: .9;

   @include media('>=desktop') {
       font-size: rem(13px);
       font-weight: bold;
       text-transform: uppercase;
       visibility: visible;
       opacity: 1;
       background-color: transparent;
       display: flex;
       flex-flow: row nowrap;
       justify-content: flex-end;
       padding: 0;
       position: static;
       

       
   }

    &__item {
        
        

        @include media('>=desktop') {
            padding: 0 .5rem;
            text-align: center;
            
            
        }
    }

    &__item--arrow {
        position: relative; 
                  
    }

    &__item--arrow::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 20px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $black;

        @include media('>=desktop') {
            
            right: 50%;
            transform: translateX(50%);
            
        }
    }

    &__item--arrow:hover::after {
        content: '';
        border-top: 7px solid $white;

        @include media('>=desktop') {
            border-top: 7px solid $turq;
        }
    }

    &__item:hover .submenu-wrapper {
        visibility: visible;
        max-height: 100%;
        
        
    }

    &__link {
        display: block;
        color: $black;
        background-color: transparent;
        text-decoration: none;
        padding: 2rem 1rem;

        @include media('>=desktop') {
            color: $darkGrey2;
            padding: 0 1rem;
        }
    }

    &__link:hover {
        background-color: $turq;
        color: $white;

        @include media('>=desktop') {
            color: $turq;
            background-color: transparent;
        }
    }

}

.submenu-wrapper {
    
    max-height: 0;
    visibility: hidden;
    

    @include media('>=desktop') {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    border: 1px solid $darkGrey;
    box-shadow: 1px 1px 3px $lightGrey;
    z-index: 1;
    margin-top: 30px;
    padding: 2rem;
    width: 350px;
    visibility: hidden;
    height: auto;
    text-align: left;
    font-weight: normal;
    text-transform: none;
    background-color: $lightGrey2;
    }
}

.submenu {
    flex: 1 1 auto;
    

    &__item {
        width: 100%;
        
        
    }

    &__link {
        text-decoration: none;
        font-size: rem(14px);
        background-color: transparent;
        display: block;
        padding: 1.5rem 3rem;
        color: $black;

        @include media('>=desktop') {
            padding: .5rem 0;
            
            color: $lightGrey4;
        }
    }

    &__link:hover {
        color: $white;
        background-color: $turq;

        @include media('>=desktop') {
            color: $turq;
            background-color: transparent;
        }

}

    &__title {
        font-size: rem(12px);
        font-weight: bold;
        padding: 2.5rem 3rem;
        text-transform: uppercase;
        color: $black;
        

        @include media('>=desktop') {
            
            padding: 1rem 0 2rem;
            color: $lightGrey;
            
        }
    }
}



.hamburger {
    cursor: pointer;
    padding: 10px;
    display: block;
    background-color: transparent;
    border: 0;
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    z-index: 5;

    @include media('>=desktop') {
        visibility: hidden;
        
    }

    &__box {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: transparent;
        z-index: 4;

        @include media('>=desktop') {
            display: none;
            
        }
    }

    @mixin hamburger-line {
        width: 100%;
        height: 3px;
        background-color: $darkGrey;
        position: absolute;
        
    }

    &__inner {
        @include hamburger-line;

        left: 0;
        top: 50%;
        transform: translateY(-50%);
        
    }

    &__inner::before, &__inner::after {
        @include hamburger-line;

        content: '';
        left: 0;
        transition: transform 0.4s ease;
        
    }

    &__inner::before {
        top: 10px;
        
    }

    &__inner::after {
        top: -10px;
        
    }
    
    .hamburger:checked ~ &__box &__inner {
        background-color: transparent;
    }

    .hamburger:checked ~ &__box &__inner::after{
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger:checked ~ &__box &__inner::before {
        transform: translateY(-10px) rotate(-45deg);
    }

    
}

.hamburger:checked ~ .menu {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    z-index: 1;
} 







