.product {
    background-color: $white;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;


    &__topWrap {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;

        @include media('>=tablet') {
            flex-flow: row nowrap;
        }
    }

    &__imageBox {
        width: 100%;
        position: relative;
        
        @include media('>=phone-xl') {
            flex: 1 1 40%;
        }
    }

    &__arrow-l, &__arrow-r {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: transparent;
        text-decoration: none;
        color: $black;
        top: 50%;
        transform: translateY(-50%);
        font-size: rem(40px);
        text-align: center;
        cursor: pointer;
        transition: background-color .3s ease-in-out;
        
    }

    &__arrow-l:hover, &__arrow-r:hover {
        background-color: $turq;
        color: $white;
    }

    &__arrow-l {
        left: 0;

       
    
    }

    &__arrow-r {
        right: 0;

       
        
    }

    &__img {
        margin: auto;
        width: 100%;
        display: block;
        height: 710px;
        
        

    }


    &__info {
        padding: 1rem;
        

        @include media('>=phone-xl') {
            
            flex: 1 1 60%;
        }

        @include media('>=tablet') {
            padding: 0 1rem;
        }

        @include media('>=tablet-l') {
            padding: 0 3rem;
        }
    }

    &__heading {
        font-size: rem(20px);
        text-transform: uppercase;
        color: $darkGrey2;
        
    }

    &__price {
        padding: 1rem 0 2rem;
        display: inline-block;
        color: $lightGrey;
        font-size: rem(30px);
        
        
    }

    &__price:first-letter {
        font-size: rem(13px);
        vertical-align: super;
        
    }

    &__paragraph {
        color: $lightGrey;
        text-align: justify;
        line-height: 1.5;
        padding: 1rem 0;
        font-size: rem(16px);

        @include media('>=tablet') {
            
            padding: 2rem 0;
        }
        
    }

    &__buttons {
        
    }

    &__compare {
        color: $darkGrey2;
        font-size: rem(16px);
        text-decoration: none;
        text-transform: uppercase;
        
        margin: 1rem 1rem 1em 0;

        
    }

    &__compare--icon {
        margin-top: 15px;
        width: 25px;
        height: 25px;
        
        
    }

    &__description {
        
    }

    &__text {
        padding: 3rem 1rem 0;
    }

    &__title {
        font-size: rem(18px);
        

        
    }
    
}

.review-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: rem(14px);
    

    &__item {
        
        padding: 1rem;
        position: relative;

        
    }

    &__item::after {
        content: '|';
        position: absolute;
        right: 0;
    }

    &__item:last-of-type::after {
        content: '';
    }

    &__item:first-of-type {
        padding-left: 0;
    }

   

    &__link {
        text-decoration: none;
        color: $darkGrey2;
        
    }

    &__link:hover {
        color: $turq;
    }

    &__img {

    }
}

.share-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: rem(14px);

    

    &__item {
        
        
    }

    &__link {

    }

    &__icon {
        width: 10px;
        height: 10px;
        margin: 0 .5rem;
    }
}

.availability-list {

    &__item {
        color: $darkGrey2;
        font-size: rem(13px);
        text-transform: uppercase;
        padding-bottom: 1rem;

        
    }

    &__item--bold {
        font-weight: 700;
    }
}

.availability-list-tags {


    &__item {
        font-size: rem(13px);
        color: $darkGrey2;
        text-transform: uppercase;
        display: inline-block;

        
        
    }

    &__item--bold {
        font-weight: 700;
    }

    &__link {
        color: $turq;
        text-decoration: none;
        
    }

    &__link:hover {

    }
}

.size-list {
    display: inline-block;
    margin: auto;
    width: 90px;
    
    padding: 1rem 0;
    font-size: rem(16px);

    @include media('>=tablet') {
        width: 100px;
        margin: 0 2rem 0 0;
        
        
    }

    @include media('>=desktop') {
        width: 150px;
        
    }

    &__item {
        border: 1px solid $lightGrey3;
        margin: 1rem 0;
        
        color: $darkGrey2;
        
        
    }

    &__item:first-of-type {
        border: none;
        
    }

    &__option {
        width: 100%;
        background-color: transparent;
        border: none;
        color: $lightGrey;
        font-weight: 300;
        padding: 1rem;
        height: auto;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        
    }
}

.description-list {
    font-size: rem(16px);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: $lightGrey2;
    margin-top: 20px;

    
    &__item {
        
        
    }

    &__link {
        color: $darkGrey2;
        text-decoration: none;
        padding: 1rem 2rem;
        display: block;
        
    }

    &__link:hover {
        color: $lightGrey2;
        background-color: $darkGrey2;
    }
}