.products {
    border-top: 1px solid $lightGrey2;
    border-bottom: 1px solid $lightGrey2;
    margin: 20px auto;
    background-color: $white;
    

    &__tags {
        
    }

    &__gallery {
        width: 100%;
    }
}

.tags-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;

    &__item {
        font-size: rem(13px);
        padding: 1rem;
        
    }

    &__item:first-of-type {
       

        @include media('>=desktop-l') {
        padding-left: 0;
        }
    }

    &__link {
        color: $darkGrey;
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        
    }

    &__link:hover {
        color: $turq;
        font-weight: bold;
    }
}

.gallery-list {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;

    @include media('>=tablet') {
        flex-flow: row wrap;
        justify-content: center;
       
        padding: 0;
    }

    @include media('>=desktop-l') {
        
        justify-content: space-between;
        
    }

    &__item {
        padding: 1rem 0;
        position: relative;
        
        @include media('>=tablet') {
            padding: 2rem;
            
        }

        @include media('>=desktop-l') {
            padding: 1rem 0;
            
        }

    
    }

    &__price {
        position: absolute;
        top: 20px;
        left: 10px;
        font-size: rem(20px);
        color: $lightGrey;
        
        @include media('>=tablet') {
            left: 25px;
            top: 30px;
        }
        
    }

    &__price:first-letter {
        font-size: rem(10px);
        vertical-align: super;
        
    }

    &__link {
        display: block;
        text-decoration: none;
        
    }

   

    &__img {
        width: 100%;
        height: 500px;
        box-shadow: 1px 1px 6px $lightGrey;

        @include media('>=tablet') {
            width: 420px;
        }

        @include media('>=desktop') {
            width: 420px;
            height: 500px;
        }
    }

    &__img--big {
        width: 100%;
        height: 350px;

        @include media('>=tablet') {
            width: 420px;
        }

        @include media('>=desktop') {
            width: 870px;
            height: 500px;
        }

    }
    

    &__item:hover .gallery-description {
        /*max-height: 100%; skasowac tylko to */
        display: block;
        visibility: visible; 
        position: relative;
    }

   
}

.gallery-description {
    position: absolute;
    z-index: 1;
    width: 100%;
    visibility: hidden;
    background-color: $lightGrey2; 
    /* max-height: 0; zamiennie z powyzszym - skasowac tylko to*/
    overflow: hidden;
    padding: 0 50px;
    box-shadow: 1px 1px 6px $lightGrey;
    text-align: center;
    

    &__title {
        font-size: rem(16px);
        
        color: $black;
        padding: 15px 0;
    }

    &__text {
        font-size: rem(12px);
        font-family: 'Roboto', sans-serif;
        padding: 0;
        color: $lightGrey;
    }

    &__buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }

    &__button {
        background-color: transparent;
        border: 1px solid $darkGrey;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 0 1rem;
    }

    &__button:hover {
        background-color: $turq;
    }

    &__icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: auto;
        text-align: center;
        transform: translateY(50%);
    }
}