.register {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
   
    

    @include media('>=desktop') {
        flex: 1 1 50%;
        justify-content: flex-end;
        }
    

    &__item {
        flex: 1 0 auto;
        text-align: center;
        position: relative;
        
        @include media('>=desktop') {
            flex: 0 0 auto;
            
        }

    }

    &__item:last-child::after {
        content: '';
        position: absolute;
        top: 15px;
        right: 15%;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $lightGrey;

        @include media('>=phone') {
            right: 20%;
        }
        @include media('>=phone-m') {
            right: 30%;
        }
        @include media('>=phone-l') {
            right: 30%;
        }

        @include media('>=phone-xl') {
            right: 33%;
        }

        @include media('>=tablet') {
            right: 35%;
        }

        @include media('>=tablet-l') {
            right: 38%;
        }

        @include media('>=desktop') {
            right: 13%;
        }
    }

    &__item:last-child:hover::after {
        border-top: 5px solid $white;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: $lightGrey;
        font-size: rem(13px);
        padding: 1rem 3rem;
    }

    &__cart-icon {
        fill: currentColor;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 15px;
        height: 15px;

        @include media('>=phone') {
            left: 22px;
        }

        @include media('>=phone-m') {
            left: 50px;
        }

        @include media('>=phone-l') {
            left: 60px; 
        }

        @include media('>=phone-xl') {
            left: 75px; 
        }

        @include media('>=tablet') {
            left: 85px; 
        }

        @include media('>=tablet-l') {
            left: 125px; 
        }

        @include media('>=desktop') {
            left: 10px; 
        }
    }
}