.search {
    border: 1px solid $lightGrey4;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    
    @include media('>=desktop') {
        flex: 1 1 30%;
        margin-left: 4rem;
    }


    &__text {
        border: 0;
        background-color: transparent;
        flex: 1 1 95%;
        padding: 10px;
        font-size: rem(12px);
    }

    &__send {
        background: url('./images/search.svg') no-repeat center center;
        display: inline-block;
        border: 0;
        flex: 1 1 5%;
        padding: 10px 15px;
        width: 20px;
        height: 20px;
        
    }
}