.signup {

    display: flex;
    flex-flow: column nowrap;
    
    

    @include media('>=phone-xl') {
        margin: 5rem auto;
        flex-flow: row nowrap;
    }
    
    
    &__box {

        @include media('>=phone-xl') {
            flex: 1 1 50%;
        }
        
    }

    &__box:first-of-type {

        padding: 0 3rem;

        @include media('>=desktop') {
            padding-left: 0;
            padding-right: 3rem;
        }
    }

    &__box:last-of-type {

        border-left: 1px solid $lightGrey3;
        padding: 0 3rem;
        

        @include media('>=desktop') {
            padding-right: 0;
            padding-left: 3rem;
            
        }
    }

    &__title {
        font-size: rem(18px);
        text-transform: uppercase;
        margin: 4rem 0 1rem;

        @include media('>=phone-xl') {
            margin-bottom: 2rem;
            margin-top: 0;
        }
        
    }

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        

        @include media('>=desktop') {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__form {
        display: flex;
        flex-flow: column nowrap;
       
    }

    &__input {
        font-size: rem(15px);
        padding: .5rem;
        margin: 1rem 0;
        border: 1px solid $lightGrey4;

        @include media('>=phone-xl') {
            margin: 1.5rem 0;
        }
    }

    &__input::placeholder {
        color: $lightGrey4;
        opacity: 1;
    }

    &__check {
        
        position: absolute;
        visibility: hidden;
    }

    &__link {
        font-size: rem(13px);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: $lightGrey4;
        
    }

    
    &__link:hover {
        color: $turq;
    }

    &__arrow {
        width: 13px;
        
        vertical-align: bottom;
        fill: currentColor;
        
    }


    &__text, &__labelText {
        font-size: rem(13px);
        color: $lightGrey4;
        
    }


    &__check + &__labelText {
        position: relative;
        cursor: pointer;
        
    }

    &__check + &__labelText::before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        border: 1px solid $lightGrey4;
    }

    &__check:hover + &__labelText::before {
        background: $lightGrey4;
    }
    

    &__check:checked + &__labelText::before {
        background-color: $lightGrey3;
    }

    &__check:checked + &__labelText::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: $lightGrey;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 $lightGrey,
          4px 0 0 $lightGrey,
          4px -2px 0 $lightGrey,
          4px -4px 0 $lightGrey,
          4px -6px 0 $lightGrey,
          4px -8px 0 $lightGrey;
        transform: rotate(45deg);
      }
}