// Base font size definition

$rem-baseline: 10px;

// Colors definitions (use: http://chir.ag/projects/name-that-color/)

$white: #ffffff;
$black: #000000;
$btnBorder: #737373;
$btnText: #454647;
$lightGrey: #777777;
$darkGrey: #222222;
$turq: #00c8c8;
$darkGrey2: #333333;
$lightGrey2: #f8f8f8;
$lightGrey3: #f1f1f1;
$lightGrey4: #9f9f9f;
$darkGrey3: #575153;